.custom-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.custom-button:hover {
  background-color: #0056b3;
}

.options-container {
  margin-top: 20px;
}

.background-image {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card1 {
  background: #f5e4b8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circle {
  position: absolute;
  width: 80vw;
  height: 80vw;
  right: 17%;
  top: -4%;
  background: #ffeede;
  border-radius: 50%;
  z-index: -1;
  transform: translate(50%, -50%);
}
.main-heading {
  font-family: "Playfair Display";
  font-size: 57px;
  font-weight: 900;
  line-height: 80px;
  letter-spacing: 0.05em;
  text-align: left;
  padding-left: 2%;
  padding-top: 5%;
  width: 55%;
}

.matter {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 46.2px;
  letter-spacing: 0.05em;
  text-align: left;
  color: rgb(129, 125, 125);
  width: 36%;
}
.circle {
  position: absolute;
  width: 80vw;
  height: 80vw;
  right: 22%;
  top: -4%;
  background: #ffeede;
  border-radius: 50%;
  overflow: hidden;
  z-index: -1;
  transform: translate(50%, -50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.additional-img {
  position: absolute;
  width: 25%;
  height: 45%;
  bottom: 15%;
  right: 8%;
  z-index: 2;
  left: 65%;
  top: 64%;
}

.image-animation {
  opacity: 0; 
  transform: translateY(-100px);
  transition: opacity 1.5s ease, transform 1.5s ease; 
}

.image-animation.show {
  opacity: 1;
  transform: translateY(0);
}
.image-animation2 {
  opacity: 0; 
  transform: translateY(-100px);
  transition: opacity 1.5s ease, transform 1.5s ease; 
}

.image-animation2.show {
  opacity: 1;
  transform: translateY(0);
}
.bar-container {
  overflow: hidden;
  width: 100%;
  background-color: #d03131;
  padding: 10px 0;
}

.animated-bar {
  display: flex;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}

.bar-item {
  min-width: 200px;
  padding: 10px;
  background-color: #d03131;
  border-radius: 5px;
  text-align: center;
  font-family: "PoetsenOne", "serif";
  font-size: 20px;
  color: #ffffff;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  .circle {
    width: 70vw;
    height: 70vw;
    right: 20%;
    top: 0%;
  }
  .main-heading {
    font-size: 41px;
    line-height: 60px;
    padding-left: 2%;
    padding-top: 5%;
  }
  .matter {
    font-size: 18px;
    line-height: 32px;
    width: 44%;
  }
  .additional-img {
    width: 24%;
    height: 40%;
    left: 68%;
    top: 30%;
  }
}

@media (max-width: 922px) {
  .additional-img {
    width: 25%;
    height: 23%;
    left: 68%;
    top: 31%;
  }
}

@media (max-width: 768px) {
  .circle {
    width: 86vw;
    height: 80vw;
    right: 19%;
    top: 3%;
  }
  .main-heading {
    font-size: 31px;
    line-height: 48px;
    padding-left: 2%;
    padding-top: 5%;
  }
  .matter {
    font-size: 15px;
    line-height: 28px;
    width: 46%;
  }
}

@media (max-width: 576px) {
  .circle {
    width: 86vw;
    height: 85vw;
    right: 22%;
    top: 4%;
  }
  .main-heading {
    font-size: 22px;
    line-height: 36px;
    padding-left: 2%;
    padding-top: 5%;
  }
  .matter {
    font-size: 12px;
    line-height: 24px;
    width: 44%;
  }
  .additional-img {
    width: 25%;
    height: 40%;
    left: 66%;
    top: 65%;
  }
}

@media (max-width: 412px) {
  .additional-img {
    width: 30%;
    height: 15%;
    top: 21%;
    left: 63%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.text-animation {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.text-animation.show {
  opacity: 1;
}

.pasta-container {
  position: relative;
  text-align: center;
}

.pasta-image {
  width: 40%;
  margin: 0 auto;
  display: block;
}
.text-top-left,
.text-top-right,
.text-bottom-left,
.text-bottom-right {
  position: absolute;
  font-family: Port Lligat Slab;
  width: 15%;
  color: black;
  font-size: 1rem; /* Base font size */
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.text-top-left {
  top: 10%;
  left: 5%;
}

.text-top-right {
  top: 10%;
  right: 5%;
}

.text-bottom-left {
  bottom: 10%;
  left: 5%;
}

.text-bottom-right {
  bottom: 10%;
  right: 5%;
}

@media (max-width: 768px) {
  .text-top-left,
  .text-top-right,
  .text-bottom-left,
  .text-bottom-right {
    width: 18%;
    font-size: 45%;
    padding: 8px;
  }

  .text-top-left {
    top: 15%;
    left: 10%;
  }

  .text-top-right {
    top: 15%;
    right: 10%;
  }

  .text-bottom-left {
    bottom: 15%;
    left: 10%;
  }

  .text-bottom-right {
    bottom: 15%;
    right: 10%;
  }
}

@media (max-width: 480px) {
  .text-top-left,
  .text-top-right,
  .text-bottom-left,
  .text-bottom-right {
    width: 26%;
    font-size: 49%;
    padding: 0px;
    margin: 0%;
  }

  .text-top-left,
  .text-top-right {
    top: 20%;
  }

  .text-bottom-left,
  .text-bottom-right {
    bottom: 20%;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-animation2 {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.text-animation2.show {
  opacity: 1;
}

.pasta-container2 {
  position: relative;
  text-align: center;
}

.pasta-image2 {
  width: 40%;
  margin: 0 auto;
  display: block;
}
.text-top-left2,
.text-top-right2,
.text-bottom-left2,
.text-bottom-right2 {
  position: absolute;
  font-family: Port Lligat Slab;
  width: 30%;
  color: black;
  font-size: 1rem; /* Base font size */
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.text-top-left2 {
  top: -20%;
  left: 5%;
}

.text-top-right2 {
  top: -20%;
  right: 5%;
}

.text-bottom-left2 {
  bottom: -20%;
  left: 5%;
}

.text-bottom-right2 {
  bottom: -20%;
  right: 5%;
}

@media (max-width: 768px) {
  .text-top-left2,
  .text-top-right2,
  .text-bottom-left2,
  .text-bottom-right2 {
    width: 27%;
    font-size: 53%;
    padding: 8px;
  }

  .text-top-left2 {
    top: -12%;
    left: 10%;
  }

  .text-top-right2 {
    top: -12%;
    right: 10%;
  }

  .text-bottom-left2 {
    bottom: -25%;
    left: 10%;
  }

  .text-bottom-right2 {
    bottom: -25%;
    right: 10%;
  }
}

@media (max-width: 480px) {
  .text-top-left2,
  .text-top-right2,
  .text-bottom-left2,
  .text-bottom-right2 {
    width: 26%;
    font-size: 49%;
    padding: 0px;
    margin: 0%;
  }

  .text-top-left2,
  .text-top-right2 {
    top: -25%;
  }

  .text-bottom-left2,
  .text-bottom-right2 {
    bottom: -40%;
  }
}
.background-image4{
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.offer {
  font-family: PMingLiU-ExtB;
  font-style: normal;
  margin-top: 25%;
  margin-bottom: 50%;
  position: absolute;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1200px) {
  .offer {
    font-size: 39px;
    top: 143%;
  }
}

@media (max-width: 992px) {
  .offer {
    font-size: 38px;
    top: 169%;
  }
}
@media (max-width: 768px) {
  .offer {
    font-size: 39px;
    top: 161%;
  }
}
@media (max-width: 480px) {
  .offer {
    font-size: 29px;
    top: 160%;
  }
}
.offer2 {
  position: absolute;
  width: 100%;
  height: 15%;
  top: 210%;
  font-family: "Playfair Display SC", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 445%;
  line-height: 128px;
  text-align: center;
  padding: 0 20px;
  color: #000000;
}
@media (max-width: 1240px) {
  .offer2 {
   
    font-size: 522%;
        line-height: 0.2;
        margin-top: 4%;
  }
}
@media (max-width: 1200px) {
  .offer2 {
   
    font-size: 522%;
        line-height: 0.2;
        margin-top: -7%;
  }
}

@media (max-width: 992px) {
  .offer2 {
    font-size: 443%;
        top: 216%;
  }
}

@media (max-width: 768px) {
  .offer2 {
    top: 195%;
    font-size: 60px;
    line-height: 1.2;
  }
}

@media (max-width: 576px) {
  .offer2 {
    font-size: 292%;
        line-height: 1.2;
        top: 188%;
  }
}

.deal-timer {
  padding: 1%;
  margin-top: 5%;
  background-color: #d03131;
  color: #dee2e6;
  border: 3px solid #f5c6cb;
  border-radius: 40px;
  text-align: center;
  width: 60%;
  height: 12%;
  font-size: 120%;
}


.special {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10%;
}

.draw {
  background: #f5e4b8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .special {
    margin-top: -14%;
  }
  .draw {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .special {
    margin-top: -15%;
  }
  .draw {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .special {
    margin-top: -33%;
  }
  .draw {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .special {
    margin-top: -35%;
  }
  .draw {
    width: 100%;
  }
}

.footer {
  background-color: #f8aeae;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; 
}

.footer-section {
  flex: 1;
  padding: 10px;
  min-width: 10%;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 75%;
  font-weight: bold;
}

.footer-section p {
  margin: 0;
  font-size: 50%;
  color: #555;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: row;
    align-items: center;
  }
  
  .footer-section {
    text-align: center;
    width: 100%; 
  }
}

.bar {
  height: 80%;
  background-color: #d03131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  position: relative;
}
.bar h2{
  padding-top: 5%;
  font-family: Playfair Display;
  font-size: 500%;
}
.bar p{
  width: 40%;
  align-items: center;
  text-align: center;
  color: white;
  font-family: DM Sans;
}
.bar button{
  background-color: #d03131;
  color: white;
  border-color: white;
  border-radius: 20px;
  width: 120px;
}

.card button{
  background-color:#d03131;
   color:white;
    border-radius:5px;
    width: 100%;
    border-width: 0;
    
}


.order-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-color: #d03131;
}

.order-box h3 {
  margin-bottom: 10px;
  color: #333;
}

.order-box p {
  font-size: 24px;
  color: #d03131;
}

@media (max-width: 1024px) {
  .order-box {
    width: 15%;
    padding: 18px;
  }

  .order-box p {
    font-size: 22px;
  }

  .order-box h3 {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .order-box {
    width: 14%;
    padding: 16px;
  }

  .order-box p {
    font-size: 20px;
  }

  .order-box h3 {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .order-box {
    width: 16%;
    padding: 5px;
  }

  .order-box p {
    font-size: 13px;
  }

  .order-box h3 {
    font-size: 11px;
  }
}

.business-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-heading {
  margin-bottom: 20px;
  color: #007bff;
  text-align: start; 
  width: 100%;
}
.hotel {
  color: black; 
}

.name {
  color: #D03131;
}


.orders-container {
  display: flex;
  justify-content:left ;
  width: 100%;
  gap: 20px; 
}
.circle1{
  position: absolute;
  width: 68vw;
  height: 66vw;
  right: 21%;
  top: 18%;
  left: -3%;
  background: #ffeede;
  border-radius: 50%;
  z-index: -1;
  transform: translate(50%, -50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.business-img1{
  position: absolute;
  width: 33%;
  height: 42%;
  left: 33%;
  top: 67%
}
.business-img2{
  position: absolute;
  width: 45%;
  height: 42%;
  left: 23%;
  top: 49%;
}
.leaf-img{
  margin-right:95%;
}

.review {
  position: relative; 
  width: 100%;
  background: linear-gradient(90deg, #EB5757 0%, #FFFFFF 100%);
  border: 1px solid #ACA8A8;
  border-radius: 23px;
  margin-top: 8%;
  padding: 20px;
  box-sizing: border-box;
}

.review1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0%;
}

.review-box {
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 45%;
  box-sizing: border-box;
}

.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-rating {
  font-weight: bold;
  color: wheat;
}

.review-date {
  font-style: italic;
  color: #d8d6d6;
}

.review-content {
  margin: 10px 0;
  color: #fffefe;
}

.review-username {
  text-align: right;
  color: #007bff;
}

@media (max-width: 1024px) {
  .review1 {
    
    display: flex;
    flex-wrap: nowrap;
  justify-content: center;
  margin-left: 0%;
  }

  .review-box {
    width: 48%;
  }
  .review-content {
  margin: 10px 0;
  color: #fffefe;
  font-size: 75%;
}
.review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-rating {
  font-weight: bold;
  color: wheat;
  font-size: 76%;
}
.review-date {
  font-style: italic;
  color: #d8d6d6;
  font-size: 75%;
}
}

@media (max-width: 768px) {
  .review1 {
    flex-direction: row;
    gap: 2%;
    align-items: center;
  }

  .review-box {
    width: 90%;
    margin: 10px 0;
  }
  .review-content {
    margin: 10px 0;
    color: #fffefe;
    font-size: 60%;
  }
}

@media (max-width: 480px) {
  .review-box {
    width: 100%;
    margin: 5px 0;
    padding: 15px;
  }
  .review-content {
    margin: 10px 0;
    color: #fffefe;
    font-size: 45%;
  }
  .review-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .review-rating {
    font-weight: bold;
    color: wheat;
    font-size: 68%;
  }
  .review-date {
    font-style: italic;
    color: #d8d6d6;
    font-size: 64%;
  }
   .review-username {
    font-size: 78%;
  }
}

@media (max-width: 600px) {
  .option button {
    padding: 6px 10px;
    font-size: 10px;
    width: 70px;
  }
}

@media (max-width: 400px) {
  .option {
    gap: 5px;
  }

  .option button {
    padding: 4px 8px;
    font-size: 8px;
  }
}




.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

.images-row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.images-box {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.img-thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.add-image-box {
  width: 100px;
  height: 100px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}




.add-image-label {
  font-size: 30px;
  color: #000000;
}

.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  
}

.checkbox-label {
  margin-left: 10px;
}

.submit-button {
  background-color: #d03131;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.submit-button:hover {
  background-color:  #d47373;
}


.option {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap; 
  overflow-x: auto; 
}

.option button {
  flex: 1 1 auto;
  padding: 10px 15px;
  font-size: 14px;
  white-space: nowrap; 
}

@media (max-width: 768px) {
  .option button {
    padding: 8px 12px;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .option button {
    padding: 6px 10px;
    font-size: 10px;
    width: 70px;
  }
}

@media (max-width: 400px) {
  .option {
    gap: 5px;
  }

  .option button {
    padding: 4px 8px;
    font-size: 8px;
  }
}
.big-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 18%;
}
.container4 {
  flex: 1;
  min-width: 300px; 
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.form-group4 {
  margin-bottom: 15px;
}

.form-control4 {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.images-row4 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.images-box4 {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.add-image-box4 {
  display: flex;
  align-items: center;
}

.add-image-label4 {
  display: block;
  background-color: #d03131;
  color: #fff;
  padding: 10px;
  border-radius: 0%;
  cursor: pointer;
}

.file-input4 {
  display: none;
}

.checkbox-label4 {
  margin-right: 15px;
}

.submit-button4 {
  background-color: #d03131;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button4:hover {
  background-color: #a02727;
}

.ellipse4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-right: 0%;
  margin-left: 5%;
}

.ellipse4 img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

@media (max-width: 768px) {
  .big-container4 {
    flex-direction: column;
    align-items: center;
  }

  .ellipse4 {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .form-group4 {
    flex-direction: column;
    align-items: flex-start;
  }

  .checkbox-label4 {
    margin-right: 10px;
  }
}